<h1>LOGIN</h1>
<form action="/api/session/login" method="post">
    <label for="email"></label>
    <input type="text" name="email" id="">

    <label for="password"></label>
    <input type="text" name="password" id="">

    <button type="submit">login</button>
</form>