<h1>perfil</h1>

<form action="/api/sessions/logout" method="POST">
    <p>BIENVENIDO , {{user.first_name}}, {{user.last_name}}</p>
    <p>email: {{user.email}}</p>
    <p>edad , {{user.age}}</p>
    <button type="submit" >logout</button>
</form>